@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.board {
  @include flex-row(20px, 20px);
  justify-content: center;
  padding: 20px;
  background: $blue-marguerite;
  border-radius: 20px;
  border: 10px solid $blue-gem;

  &_disabled {
    pointer-events: none;
  }

  &__wrapper {
    @include flex-col(40px, 40px);
    position: relative;
  }

  &__winner {
    position: absolute;
    left: 50%;
    top: -70px;
    width: max-content;
    height: 30px;
    color: $white;
    text-align: center;
    font-size: 30px;
    transform: translateX(-50%);
    animation-duration: 1s;
    animation-name: winner;
  }

  &__col {
    @include flex-col(20px, 20px);

    &_first:hover {
      .board__cell_empty:has(+ .board__cell_first),
      .board__cell_empty:has(+ .board__cell_second),
      .board__cell_empty:last-child {
        background: $first-player-primary;
        opacity: 0.4;
      }
    }

    &_second:hover {
      .board__cell_empty:has(+ .board__cell_first),
      .board__cell_empty:has(+ .board__cell_second),
      .board__cell_empty:last-child {
        background: $second-player-primary;
        opacity: 0.4;
      }
    }
  }

  &__cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: $white;
    background: $white;
    font-size: 0;
    cursor: pointer;
    transition: background-color, opacity 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &_first {
      background: $first-player-primary;

      &::before {
        @include player-first;
        animation-duration: 1s;
        animation-name: cell;
      }
    }

    &_second {
      background: $second-player-primary;

      &::before {
        @include player-second;
        animation-duration: 1s;
        animation-name: cell;
      }
    }

    &_win {
      &::before {
        background-image: url("../../../public/images/star.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 20px;
    border: 6px solid $blue-gem;
    border-radius: 30px;
    background: $blue-marguerite;
    color: $white;
    font-size: 18px;
    transition: background 0.5s ease;

    &:hover {
      background: $blue-gem;
    }
  }
}

@keyframes cell {
  from {
    width: 90px;
    height: 90px;
  }

  50% {
    width: 110px;
    height: 110px;
  }

  to {
    width: 90px;
    height: 90px;
  }
}

@keyframes winner {
  from {
    font-size: 0px;
  }

  50% {
    font-size: 40px;
  }

  to {
    font-size: 30px;
  }
}
