@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.player {
  position: relative;
  color: $white;

  &__timer {
    position: absolute;
    left: 50%;
    top: -80px;
    padding: 12px 20px;
    border: 6px solid $blue-gem;
    border-radius: 30px;
    background: $blue-marguerite;
    color: $white;
    font-size: 18px;
    transform: translateX(-50%);
  }

  &__wrapper {
    @include flex-col(30px, 30px);
    align-items: center;
    width: 100%;
    padding: 20px 12px;
    border: 6px solid $blue-gem;
    border-radius: 30px;
    background: $blue-marguerite;
  }

  &__color {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;
      border-radius: 30px;
      background: $blue-gem;
    }
  }

  &__number {
    font-size: 20px;
  }

  &__wins {
    font-size: 16px;
  }

  &__turn {
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    text-align: center;
  }

  &_first {
    .player__color {
      @include player-first;
    }
  }

  &_second {
    .player__color {
      @include player-second;
    }
  }
}
