.game {
  margin: 80px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 200px 3fr 200px;
    align-items: center;
    gap: 40px;
  }
}

@keyframes cell {
  from {
    width: 90px;
    height: 90px;
  }

  50% {
    width: 110px;
    height: 110px;
  }

  to {
    width: 90px;
    height: 90px;
  }
}
