@use "scss-reset";
@import "./scss/variables.scss";

body {
  min-width: 320px;
  font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $black-russian;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;

  @media (min-width: 1280px) {
    padding: 0 40px;
  }
}
