$first-player-primary: #2abdae;
$first-player-secondary: #105e56;
$second-player-primary: #8f290a;
$second-player-secondary: #5b2718;

$white: #ffffff;
$black-russian: #000222;
$blue-gem: #29159b;
$blue-marguerite: #7561d2;